{%extends "base_professor.html" %}
    {% block content %}
        <div class="container profile-data">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Materiais de Apoio</h1>
                    <ul>
                        <li class="material">
                            <div class="iconfile-pdf"></div>
                            <ul>
                                <li><a href="#" target="_blank" class="file-title">PDF File</a></li>
                                <li>Description: Lorem ipsum dolor sit amet.</li>
                                <li>Date: 11/11/2013</li>
                            </ul>
                        </li>
                        <li class="material">
                            <div class="iconfile-word"></div>
                            <ul>
                                <li><a href="#" target="_blank" class="file-title">Word File</a></li>
                                <li>Description: Lorem ipsum dolor sit amet.</li>
                                <li>Date: 11/11/2013</li>
                            </ul>
                        </li>
                        <li class="material">
                            <div class="iconfile-excel"></div>
                            <ul>
                                <li><a href="#" target="_blank" class="file-title">Excel File</a></li>
                                <li>Description: Lorem ipsum dolor sit amet.</li>
                                <li>Date: 11/11/2013</li>
                            </ul>
                        </li>
                        <li class="material">
                            <div class="iconfile-powerpoint"></div>
                            <ul>
                                <li><a href="#" target="_blank" class="file-title">PowerPoint File</a></li>
                                <li>Description: Lorem ipsum dolor sit amet.</li>
                                <li>Date: 11/11/2013</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h1>Provas e Trabalhos</h1>
                    <ul>
                        <li>√ 30/10/2013 - Physics 2</li>
                        <li>√ 30/10/2013 - Electromagnetism</li>
                        <li>√ 04/11/2013 - Physics 1</li>
                        <li>√ 05/11/2013 - Quantum Physics</li>
                        <li>√ 11/11/2013 - Astrophysics</li>
                    </ul>
                    <h1>Avisos</h1>
                    <ul>
                        <li>√ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, est sapiente quisquam accusamus non nemo voluptatum. Doloribus, quae rerum quisquam obcaecati laborum dolore soluta fuga eum laboriosam magnam voluptates autem?</li>
                        <li>√ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem</li>
                        <li>√ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock content %}