{%extends "base_professor.html" %}
    {% block content %}
        <div class="container profile-data">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Materiais de Apoio</h1>
                    {% if materiais %}
                        {% for material in materiais  %}
                        <ul>
                            <li class="material">
                                <div class="iconfile-pdf"></div>
                                <ul>
                                    <li><a href="/media/{{material.arquivo}}" target="_blank" class="file-title">{{material.filename}}</a></li>
                                    <li>{{material.descricao|truncatewords:"10"}} </li>
                                    <li>Data: {{material.data}}</li>
                                </ul>
                            </li>
                        </ul>
                    {% endfor %}
                     {% else %}
                        <p>O {{professor.nome}} ainda não postou nenhum material! Que tal conferir <a href="/materiais/">alguns outros</a>?</p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h1>Provas e Trabalhos</h1>
                    <ul>
                        <li>√ 30/10/2013 - Physics 2</li>
                    </ul>
                    <h1>Avisos</h1>
                    {% if avisos %}
                            <ul>
                            {% for av in avisos %}
                                <li>{{av.descricao|truncatewords:"10"}} </li>
                            {% endfor %}
                            </ul>
                    {% else %}
                        <p>Sem avisos para o momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock content %}
